<nav>
  <button
    routerLink="/player"
    [queryParams]="{
      videoId: '_LjcTPkLIxE',
      start: 90,
      end: 100,
      playbackRate: 0.75
    }"
    routerLinkActive="active"
  >
    Play slowly
  </button>
  <button
    routerLink="/player"
    [queryParams]="{
      videoId: '_LjcTPkLIxE',
      start: 55,
      end: 70,
      playbackRate: 1
    }"
    routerLinkActive="active"
  >
    play
  </button>
  <button routerLink="/scoreboard" routerLinkActive="active">Scoreboard</button>
</nav>
<router-outlet></router-outlet>
