<header
  style="padding: 70px 0px; background-color: #7b1fa2"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <h1 style="text-align:center" class="md-display-4">SnippingTube</h1>
  <h3 style="text-align:center" class="mat-h3">
    The ultimate snipping tool for YouTube videos.
  </h3>
</header>

<main style="padding: 90px 0px">
  <section fxFlex="100%">
    <h3 style="text-align:center" class="mat-h3">
      Select the video. Cut out the part you are interested in. Share it with
      friends.
    </h3>
    <form
      [formGroup]="form"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign.gt-xs="space-evenly center"
    >
      <mat-form-field fxFlex="70">
        <input matInput placeholder="YouTube video url" formControlName="url" />
      </mat-form-field>
      <button (click)="onSubmit()" mat-flat-button fxFlex="20" color="primary">
        Go
      </button>
    </form>
  </section>
</main>
