<br />
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.sm="100%" fxFlex="70%">
    <mat-card-title>
      SnipTube
    </mat-card-title>
    <mat-card-subtitle>
      The ultimate snipping tool for YouTube videos. Cut from the start to the
      end. Share with your friends. Or some really CATCHY phrase.
    </mat-card-subtitle>
    <mat-card-content>
      some input in future. now play some hard coded stuff:
      <button mat-flat-button color="primary" (click)="goToPlayer()">Go</button>
    </mat-card-content>
  </mat-card>
</div>
